<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free Restaurant catalogue for you">
  <meta name="theme-color" content="#1b2737"/>
  
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Restaurant Apps Project</title>
</head>
<body>
  <!-- Skip to content -->
  <a href="#main-content" class="skip-link">Skip to content</a>

  <!-- Header -->
  <header>
    <!-- navbar menu -->
    <nav>
      <a id="logo" href="/">Restaurant Apps</a>
      <div class="bar-btn">
        <button id="bar-menu" class="header-menu">☰</button>
      </div>
      <div class="nav" id="drawer">
        <ul class="list-menu">
          <li class="list-item"><a href="#/home">Home</a></li>
          <li class="list-item"><a href="#/favorite">Favorite</a></li>
          <li class="list-item"><a href="https://www.linkedin.com/in/auliya-arkhan-b7207a20b/" alt="Linkedin Auliya Arkhan" target="_blank">About Us</a></li>
        </ul>
      </div>
    </nav>

    <!-- jumbotron -->
    <div class="jumbotron">
      <picture>
        <source type="image/webp" media="(max-width: 600px)" srcset="./icons/app-icon-64.webp">
        <source type="image/jpeg" media="(max-width: 600px)" srcset="./icons/app-icon-64.jpg">
        <img src="./icons/app-icon-144.png" alt="logo">
      </picture>
      <h1>Restaurant Apps</h1>
    </div>
  </header>

  <!-- main content -->
  <main id="main-content" tabindex="0">
  </main>

  <!-- footer -->
  <footer>
    <h2>Aksesbilitas Submission © 2022, Auliya Arkhan</h2>
    <div id="footerTools">
      <button id="subscribePushNotification" class="btn">Subscribe Push Notification</button>
      <button id="unsubscribePushNotification" class="btn">Unsubscribe Push Notification</button>
    </div>
  </footer>
</body>
</html>
